
/* Import Google Font Rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html {
    font-family: Rubik, sans-serif;
}
body {
    background-color: cyan
}
header {
   text-align: center;
   font-size: xx-large;
   margin: 2%;
}

.section-div-one, .section-div-two, .section-div-four {
    display: flex;
    max-width: 100vw;
    height: 200px;
    background-color: red;
}

.step-div {
    flex-flow: row;
    background-color: yellow;
    width: 50%;
    height: 100%;
    z-index: 1;
}

.internal-step-div-top {
    display: flex;
    height: 70%;
    background-color: green;
}

.fa-regular {
    align-content: center;
    margin: auto;
    font-size: 35px;
}

/* .fa-regular:hover {
    color: white;
    cursor: pointer;
} */

.internal-step-div-bottom {
    display: flex;
    height: 30%;
    background-color: purple;
}

.section-div-three {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    height: 200px;
    background-color: red;
}

.timer-div {
    align-content: center;
    display: flex;
    flex-flow: column;
    background-color: yellow;
}